name: polkadart_example
description: A sample command-line application.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ^3.8.0

# Add regular dependencies here.
dependencies:
  convert: ^3.1.1
  polkadart: ^0.7.3
  polkadart_keyring: ^0.7.1
  polkadart_scale_codec: ^1.5.0
  ss58: ^1.3.1
  substrate_bip39: ^0.7.0
  substrate_metadata: ^1.5.0

  # Generated files depend on quiver
  quiver: ^3.2.1

dev_dependencies:
  polkadart_cli: ^0.7.0
  lints: ^2.0.0
  test: ^1.21.0

dependency_overrides:
  polkadart:
    path: ../../packages/polkadart
  polkadart_keyring:
    path: ../../packages/polkadart_keyring
  polkadart_scale_codec:
    path: ../../packages/polkadart_scale_codec
  polkadart_cli:
    path: ../../packages/polkadart_cli
  ss58:
    path: ../../packages/ss58
  substrate_bip39:
    path: ../../packages/substrate_bip39
  substrate_metadata:
    path: ../../packages/substrate_metadata
  sr25519:
    path: ../../packages/sr25519
  secp256k1_ecdsa:
    path: ../../packages/secp256k1_ecdsa

polkadart:
  output_dir: lib/generated
  chains:
    polkadot: wss://rpc.polkadot.io
    kusama: wss://kusama-rpc.polkadot.io
    astar: wss://rpc.astar.network
    paseo: wss://paseo-rpc.n.dwellir.com
    assethub: wss://westend-asset-hub-rpc.polkadot.io
    encointer: wss://encointer-kusama-rpc.n.dwellir.com
