:root {
	--pink-hsl: 335, 79%, 49%;
	--overlay-pinkish: hsla(var(--pink-hsl), 0.2);
}

:root[data-theme='light'] {
	--pink-hsl: 335, 78%, 70%;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-pinkish), transparent 40%),
		radial-gradient(var(--overlay-pinkish), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-pinkish), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
	filter: drop-shadow(0 0 3rem var(--overlay-pinkish));
}

[data-has-hero] .hero {
	padding-block: clamp(2.5rem, calc(3vmin), 10rem);
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #131e4f;
	--sl-color-accent: #e21a6f;
	--sl-color-accent-high: #ee76a9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c7d6ff;
	--sl-color-accent: #e21a6f;
	--sl-color-accent-high: #182775;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}