name: Build and Test

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ matrix.package_path }}

    strategy:
      matrix:
        channel:
          - stable
        package_path:
          - packages/polkadart
          - packages/polkadart_cli
          - packages/polkadart_scale_codec
          - packages/ss58
          - packages/substrate_metadata

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2

      - name: Check out code (LFS)
        uses: nschloe/action-cached-lfs-checkout@v1.2.1

      - uses: subosito/flutter-action@v2.7.1
        with:
          channel: ${{ matrix.channel }}
      - name: Add pub cache bin to PATH
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
      - name: Add pub cache to PATH
        run: echo "PUB_CACHE="$HOME/.pub-cache"" >> $GITHUB_ENV
      - name: Install dependencies
        run: dart pub get
      - name: Check format
        run: dart format --set-exit-if-changed .

      - name: Analyze
        run: dart analyze

      - name: Run tests
        run: dart test --coverage="coverage"

      - name: Upload coverage to codecov
        run: curl -s https://codecov.io/bash | bash
