name: Build and Test

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - polkadart
          - polkadart_cli
          - polkadart_scale_codec
          - ss58
          - substrate_metadata
          - substrate_bip39

    steps:
      - uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 2

      - name: Check out code (LFS)
        uses: nschloe/action-cached-lfs-checkout@v1.2.1

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}

      - name: Install dependencies
        run: |
          echo "MELOS_SDK_PATH=$MELOS_SDK_PATH" >> "${GITHUB_ENV}"
          dart pub get
          dart run melos bootstrap
        env:
          MELOS_SDK_PATH: ${{ env.FLUTTER_ROOT }}

      - name: Check format
        run: SCOPE="${{ matrix.package }}" dart run melos format

      - name: Analyze
        run: SCOPE="${{ matrix.package }}" dart run melos analyze

      - name: Run tests
        run: SCOPE="${{ matrix.package }}" dart run melos test

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}


